<div>Say something:</div>
<form name="broadcast-form" [formGroup]="broadCastForm">
  <div class="input">
    <label for="message">Message</label>
    <input formControlName="message" name="message" id="message" type="text" autofocus>
  </div>
  <div>
    <label for="gas-price">Gas Price (gwei):</label>
    <input type="range"
           formControlName="gasPrice"
           name="gas-price"
           id="gas-price"
           [(ngModel)]="gasPrice"
           min="1"
           max="80">
    {{ gasPrice }}
  </div>
  <div>
    <label for="gas-limit">Gas Limit:</label>
    <input type="range"
           formControlName="gasLimit"
           name="gas-limit"
           id="gas-limit"
           [(ngModel)]="gasLimit"
           min="35000"
           max="1000000"
           step="5000">
    {{ gasLimit }}
  </div>
  <button class="button primary wide">Publish with Trezor</button>
  <button class="button primary wide">Publish with MetaMask</button>
</form>

<ul>
  <li *ngFor="let l of logs">Identity: {{ l.topics[1] }}, Data: {{ l.data }}</li>
</ul>

<div class="user-post">
  <div class="left">
    <app-avatar></app-avatar>
  </div>
  <div class="middle">
    <div *ngIf="!loggedIn">Log in to post</div>
    <div *ngIf="loggedIn" class="middle-content">
      <div class="display-name">{{ account }}</div>
      <textarea class="post-input"></textarea>
    </div>
  </div>
  <div class="right">
    <app-post-button></app-post-button>
  </div>
</div>

<button (click)="setOpenMenu(true)">open menu from afar</button>

<div class="timeline">
  <!-- <app-post *ngFor="let l of logs"
            [log]="l"></app-post> -->
            Praesent et sapien velit. Nulla laoreet turpis quis rutrum volutpat. Donec semper ac augue a ullamcorper. Sed consectetur quis urna nec convallis. Curabitur a ligula erat. Vestibulum non feugiat lacus. Nunc porttitor, orci sit amet scelerisque auctor, mi est elementum felis, sollicitudin ultricies urna velit vitae nunc. In eget dolor scelerisque, tempus metus sit amet, fermentum urna. Cras at lacus molestie, ultrices nisl venenatis, varius dolor. Etiam vel nibh a ligula gravida tincidunt. Morbi interdum, leo nec malesuada dictum, enim nunc fermentum metus, accumsan tempus ligula nisl id nisl. Suspendisse sagittis et arcu sed vulputate. Quisque sed enim non lorem ullamcorper pulvinar. Nulla augue neque, lobortis a gravida et, varius et ipsum.
</div>

<button (click)="toggleSidebar()">Toggle</button>
