@import '../../../assets/scss-imports/_mixins.scss';
@import '../../../assets/scss-imports/_variables.scss';

.user-post {
	$innerPadding: .5em;
	position: sticky;
	z-index: $userPostZ;
	max-width: $timelineMaxWidth;
	&.confirm {
		z-index: 3;
		color: white;
	}
	.user-post-top {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		min-height: $navHeight;
	}
	.confirmation-post-mock {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
}

.timeline {
	max-width: $timelineMaxWidth;
	margin: 0 auto;
	background: hsla(0,0,0,.1);
}

.overlay {
	display: none;
	position: fixed;
	z-index: $overlayZ;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	-webkit-overflow-scrolling: touch;
	@include pass-through;
	&.show {
		display: block;
		background: hsla(0,0,0,.85);
		@include no-pass-through;
	}
	
	.timeline {
		background: hsla(0,0,100,.4);
	}
}

.post-confirmation {
	.confirmation-top {
		display: flex;
	}
	.confirmation-gas-settings {
		
	}
	.confirmation-post-mock {
		display: flex;
	}
}